@model SchoolManagementSystem.Models.StudDTO;

@{
    ViewData["Title"] = "Student";
}
<div class="main-container">
    <div class="left-container">
        <div class="student-list">
            <div class="search-container">
                <form class="search" asp-controller="Student" asp-action="Search" method="GET">
                    <img src="~/images/search-icon.png" alt="search-icon" />
                    <input type="search" name="search" placeholder="Search for Student" />
                    <button type="submit">Search</button>
                </form>
                <button class="add_btn">+</button>
            </div>

            <table class="table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Student Number</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th><a class="reset" asp-controller="Nav" asp-action="Student"><img src="~/images/restart-icon.png" alt="restart-icon" /></a></th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null && Model.Students.Any())
                    {
                        @foreach (var student in Model.Students)
                        {
                            <tr class="details">
                                <td>@student.Id</td>
                                <td>@student.StudNum</td>
                                <td>@student.FirstName @student.LastName</td>
                                <td colspan="2">@student.Email</td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="5">No students found</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="student-details">
        </div>
    </div>


    <div class="right-container">
        <div class="create-form">
            <h2>Add Student</h2>
            <form asp-controller="Student" asp-action="Create" method="post" enctype="multipart/form-data">
                <div class="form-group mb-3">
                    <input asp-for="StudNum" placeholder="Student Number" class="form-control">
                    <span asp-validation-for="StudNum" class="text-danger"></span>
                </div>
                <div class="form-group mb-3">
                    <input asp-for="FirstName" placeholder="First Name" class="form-control">
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
                <div class="form-group mb-3">
                    <input asp-for="LastName" placeholder="Last Name" class="form-control">
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
                <div class="form-group mb-3">
                    <input asp-for="Email" placeholder="Email" class="form-control">
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>

                <div class="form_btns">
                        <button type="submit" class="submit_btn">Submit</button>
                        <a class="btn cancel_btn" asp-controller="Nav" asp-action="Student" role="button">
                            Cancel
                        </a>
                </div>
            </form>
        </div>
        <div class="edit-form">
        </div>
        <div class="delete-form">
        </div>
    </div>
</div>


